@import "_include.scss";
@import "content.scss";

/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/poppins-v20-latin-regular.woff2') format('woff2');
}
/* poppins-italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/poppins-v20-latin-italic.woff2') format('woff2');
}
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/poppins-v20-latin-500.woff2') format('woff2');
}
/* poppins-500italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  src: url('fonts/poppins-v20-latin-500italic.woff2') format('woff2');
}
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/poppins-v20-latin-600.woff2') format('woff2');
}
/* poppins-600italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  src: url('fonts/poppins-v20-latin-600italic.woff2') format('woff2');
}
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/poppins-v20-latin-700.woff2') format('woff2');
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/montserrat-v23-latin-regular.woff2') format('woff2');
}

html {
  font-size: 17px;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  margin: 0;
  background-color: $color-dark-blue;
  color: #fff;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 1.8rem;
  margin: 0;
}

.title {
  margin-block-start: 0.67rem;
  margin-block-end: 1rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

nav {
  height: 3rem;
  .nav-content {
    position: absolute;
    top: 0;
    width: 98%;
    height: 3rem;
    background-color: $color-dark-blue;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 2%;

    a {
      color: $color-light-pink;
      font-family: 'Montserrat', sans-serif;
      margin-right: 30px;
      font-size: 1.4rem;
      text-decoration: none;
    }
  }
}

main {
  color: #fff;
  &.container, .container {
    max-width: 90%;
    margin: 1rem auto;
    font-size: 0.95rem;
    line-height: 1.9rem;
    font-family: 'Poppins', sans-serif;
    @include desktop {
      max-width: calc(#{$screen-desktop-min} * 0.9);
    }
    @include wide {
      max-width: calc(#{$screen-widescreen-min} * 0.9);
    }
    @include fullhd {
      max-width: calc(#{$screen-fullhd-min} * 0.9);
    }
    a {
      color: $color-light-pink;
      text-decoration: none;
    }
  }
}

footer > p {
    text-align: center;
    font-size: 0.75rem;
    font-family: 'Poppins', sans-serif;
    a {
      color: white !important;
      text-decoration: none;
    }
}
