@import "_include.scss";
h1 {
  font-size: 2.1em;
  &::after {
    content: '';
    display: block;
    width: 12.5%;
    height: 5px;
    background-color: $color-light-pink;
    margin-top: 15px;
    border-radius: 5px;
  }
}

h2, h3 {
  margin-block-end: 0.5em;
}

p {
  margin: 0.5em 0;
}