<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    {% if config.generate_feed %}
    <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
    {% endif %}
    <link rel="stylesheet" href="{{ get_url(path='base.css', trailing_slash=false) | safe }}">
    {% block head %}
    {% endblock head %}
</head>
<body>
<nav>
    <a href="{{ get_url(path='@/_index.md#whoami') }}">whoami</a>
    <a href="{{ get_url(path='@/blog/_index.md') }}">blog</a>
</nav>
{% block body %} {% endblock %}
</body>
</html>
