{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ get_url(path='index.css', trailing_slash=false) | safe }}">
{% endblock %}
{% block body %}
<main>
    <div class="container" id="whoami">
        <div class="title">
            <h1>hey, i'm leona</h1>
        </div>
        <span></span>
        I'm doing systems engineering, software development and mathematics. My home town is Bonn, Germany. You can address me with she/her.<br />
        Professionally, I'm currently employed at the <a target="_blank" href="https://flyingcircus.io">Flying Circus</a>.
        <h2>projects</h2>
        <p>This section only contains projects I plan to work longer time on</p>
        <h3>NixOS / nixpkgs</h3>
        <p>
            I help maintaining and improving NixOS and more specifically nixpkgs. Currently I'm release manager for NixOS 25.05.<br>
            <a target="_blank" href="https://github.com/NixOS/nixpkgs">Project on GitHub</a>
        </p>
        <h3>nixfiles – NixOS infrastructure</h3>
        <p>
            My nixfiles are the config files for my NixOS based infrastructure.<br>
            <a target="_blank" href="https://forkspace.net/leona/nixfiles">Project on Forkspace</a>
        </p>
        <h3>FahrplanDatenGarten</h3>
        <p>
            The FahrplanDatenGarten is a platform for several train data related projects.<br>
            <a target="_blank" href="https://github.com/fahrplandatengarten/FahrplanDatenGarten">Project on GitHub</a>
        </p>
        <h2>social media & contact</h2>
        <ul>
            <li>Forkspace (GitLab): <a target="_blank" href="https://forkspace.net/leona">@leona</a></li>
            <li>GitHub: <a target="_blank" href="https://github.com/leona-ya">@leona-ya</a></li>
            <li>Fediverse: <a target="_blank" href="https://chaos.social/@leona">@leona@chaos.social</a></li>
            <li>Matrix: <a target="_blank" href="https://matrix.to/#/@leona:leona.is">@leona:leona.is</a></li>
            <li>Email: web2025@leona.is</li>
            <li>Threema: <a target="_blank" href="https://threema.id/E2JZJUSE">E2JZJUSE</a></li>
            <li>Telegram: <a target="_blank" href="https://t.me/leona_y_a">@leona_y_a</a></li>
        </ul>
        <p>
            You can contact me by all ways mentioned above in English and German, just choose one that fits for you :3<br><br>
            All of my public coding projects are on GitLab (cyberchaos.dev) and most of them, especially larger ones also on GitHub.
        </p>
    </div>
</main>
{% endblock %}
