{% extends "base.html" %}

{% block body %}
<main class="container">
    <h1>{{ section.title }}</h1>
    {{ section.content | markdown(inline=true) }}
    <ul>
        {% for post in section.pages %}
        <li>
            <time>{{ post.date }}</time> &nbsp;
            <a href="{{ post.permalink }}">{{ post.title }}</a>
            &nbsp; <small class="tag-wrapper">{% for tag in post.taxonomies.tags %}<span class="tag">#{{ tag }}</span>{% endfor %}</small>
        </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
